*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square{
  background-color: red;
  width: 150px;
  height: 150px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  height: 100vh;
}