*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px;
}
.wrapper{
  border: 2px solid black;
  min-height: 400px;
}

.box{
  width: 100px;
  height: 100px;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blu{
  background-color: blue;
}

.flex-container{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

.justify-content{
  justify-content:space-evenly;
}

.align-items{
  align-items: flex-end;
} 

/* flex-wrap: wrap per andare alla riga successiva quando gli elementi non ci stano */
/* spazio tra le righe gestito da align content ma solo con flex wrap */

/* justify content per asse principale
align items per asse secondario */

/* per row dimensione principale width
per coloum dimensione principale height

per flex-items: flex basis per la base, guarda la direzione del container (row = width e per coloum height) */